test-class {
  background: black ;
  color:white;
  /*margin : 1 2 3 4;*/
  /*margin  :  0 auto;*/
  margin  :  0;
}


test-class-two
{
  background:  black  ;
  color:white;
  /*margin  :  1 2 3 4;*/
  /*margin  :  0 auto;*/
  margin  :  0;
}
